p,
li,
a {
    font-family: sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #8d6a9f;
    padding: 10px 40px;
    border-radius: 7px;
    text-align: center;
}

main {
    margin: 40px 25px 40px 15px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.map {
    font-size: 0.8rem;
}

.center {
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 1.7px solid black;
}

ul.chapters {
    list-style: none;
    display: flex;
    padding-left: 0px;

}

ul.chapters li a {
    padding-right: 1rem;
}

.code {
    font-family: monospace;
    font-size: .9rem;
    background-color: #2e2e2e;
    color: white;
    border-radius: 3px;
    padding: 2px;
    font-size: .8rem;

}

.chunk {
    margin-left: 2rem;
    padding-right: none;
}

/* Medium screen */
@media (min-width: 37.5em) {
    .chunk {
        margin-right: 5rem;
    }

    main.home {
        display: flex;

    }

}

/* large screen */
@media only screen and (min-width: 64rem) {
    .chunk {
        margin-right: 22rem;
        justify-self: center;
    }
}